.user-section {
	padding: 20px 0px 40px 0px;
	background: #eff4f7;
}

.account_content {
	min-height: 653px;
	background: #fff;
}

.account_tit {
	padding: 20px;
	color: #232323;
	font-size: 16px;
	border-bottom: 1px solid #E7E7E7;
	background-color: #fff;
	border-radius: 3px;
}

.calculator-content {
	padding: 20px 0px 40px 0px;
	;
}

.calculator-form {
	width: 879px;
	margin: 0 auto;
	min-height: 416px;
	height: 416px;
	padding-top: 36px;
}

.calculator-form label {
	width: 132px;
	text-align: right;
	line-height: 40px;
	font-size: 16px;
	color: #666666;
	display: inline-block;
}

.calculator-form input[type=text],
.calculator-form input[type=password] {
	border: 1px solid #d3d3d3;
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	font-size: 16px;
	color: #666666;
	border-radius: 2px;
}

.calculator-form td {
	padding: 16px 0;
}

.input-tel {
	margin-right: 10px;
}


/* PREFIXED CSS */

.metro,
.metro div,
.metro li,
.metro div::after,
.metro .carat,
.metro .carat:after,
.metro .selected::after,
.metro:after {}

.metro .selected::after,
.metro.scrollable div::after {
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}


/* WRAPPER */

.metro {
	position: relative;
	width: 197px;
	display: inline-block;
	height: 38px;
	cursor: pointer;
	font-weight: 200;
	background: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 1px solid #ced2d3;
	border-radius: 2px;
	margin-right: 10px;
}

.metro.open {
	z-index: 2;
}

.metro:hover {}

.metro:after {
	content: '';
	position: absolute;
	right: 3px;
	bottom: 3px;
	top: 2px;
	width: 30px;
	background: transparent;
}

.metro.focus:after {
	background: #0180d1;
}


/* CARAT */

.metro .carat,
.metro .carat:after {
	content: '';
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -4px;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 6px solid #cdcdcd;
	z-index: 1;
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
}

.carat {}

.metro .carat:after {
	margin-top: -8px;
	right: -5px;
	border-top-color: #f8f8f8;
}

.metro:hover .carat:after {}

.metro.focus .carat {
	/*border-top-color: #f8f8f8;*/
}

.metro.focus .carat:after {
	border-top-color: #f8f8f8;
}

.metro.open .carat {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}


/* OLD SELECT (HIDDEN) */

.metro .old {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.metro select {
	position: absolute;
	left: 0px;
	top: 0px;
}

.metro.touch select {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}


/* SELECTED FEEDBACK ITEM */

.metro .selected,
.metro li {
	display: block;
	font-size: 14px;
	/* line-height: 150.54%; */
	color: #999999;
	padding: 10px 12px;
	overflow: hidden;
	white-space: nowrap;
}

.metro li {
	color: #999999;
}

.metro .selected::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
	border-radius: 0 2px 2px 0;
	/*box-shadow: inset -55px 0 25px -20px #f8f8f8;*/
}

.metro:hover .selected::after {}


/* DROP DOWN WRAPPER */

.metro div {
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: -1px;
	background: #FFFFFF;
	overflow: auto;
	opacity: 0;
	border-radius: 2px;
}

.metro:hover div {}


/* Height is adjusted by JS on open */

.metro.open div {
	opacity: 1;
	z-index: 2;
}


/* FADE OVERLAY FOR SCROLLING LISTS */

.metro.scrollable div::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	box-shadow: inset 0 -50px 30px -35px #f8f8f8;
}

.metro.scrollable:hover div::after {}

.metro.scrollable.bottom div::after {
	opacity: 0;
}


/* DROP DOWN LIST */

.metro ul {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
	border: 1px solid #ced2d3;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

.metro ul::-webkit-scrollbar {
	width: 6px;
	height: 260px;
	background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

.metro ul::-webkit-scrollbar-track {
	border-radius: 2px;
	background-color: #ffffff;
}


/*定义滑块 内阴影+圆角*/

.metro ul::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #d7dada;
}

.metro.scrollable.open ul {
	overflow-y: auto;
}


/* DROP DOWN LIST ITEMS */

.metro li {
	background: #fff;
	list-style: none;
	padding: 8px 12px;
}

.metro li:nth-child(1) {}


/* .focus class is also added on hover */

.metro li.focus {
	background: #00acbd;
	position: relative;
	z-index: 3;
	color: #FFFFFF;
}

.metro li.active {
	background: #00acbd;
	color: #FFFFFF;
}

select,
.dropdown {
	margin-bottom: 30px;
	display: inline-block;
}

.calculator-text {
	line-height: 39px;
	display: inline-block;
	float: left;
}

.metro {
	float: left;
}

.invest-radio label {
	width: auto;
	text-align: left;
}

.invest-radio input[type=radio] {
	vertical-align: -2px;
}

.forgetpwd-submit {
	width: 300px;
	height: 43px;
	line-height: 43px;
	border-radius: 4px;
	color: #fff;
	background: #e75146;
	text-align: center;
	font-size: 16px;
	display: block;
	margin: 0 auto;
	margin-top: 32px;
}

.calculator-text1 {
	font-size: 20px;
	color: #fcae52;
	margin-top: 40px;
}

.calculator-text1>span {
	font-size: 14px;
	color: #999999;
}

.calculator-result {
	display: table;
	margin: 0 auto;
	font-size: 17px;
	line-height: 61px;
}

.calculator-result>li {
	float: left;
	margin-right: 63px;
}

.li-last {
	margin-right: 0px!important;
}

.calculator-result span {
	font-size: 24px;
	color: #e75146;
}

.user-table {
	width: 100%;
	margin: 0 auto;
	font-size: 14px;
}

.user-table th {
	text-align: left;
	color: #666666;
	background: #eff4f7;
}

.user-table tr:hover td,
.user-table tr:hover a {
	color: #232323;
}

.user-table td,
.user-table th {
	line-height: 47px;
	height: 47px;
	padding-left: 20px;
}

.user-table td {
	border-bottom: 1px dashed #e7e7e7;
}

.user-table {
	width: 100%;
	margin: 0 auto;
	font-size: 14px;
}

.user-table th {
	text-align: left;
	color: #666666;
	background: #eff4f7;
}

.user-table tr:hover td,
.user-table tr:hover a {
	color: #232323;
}

.user-table td {
	padding: 0px 0!important;
	border-bottom: 1px dashed #e7e7e7;
}

.user-table td,
.user-table th {
	line-height: 47px;
	height: 47px;
	padding-left: 20px!important;
}

.user-title {
	font-size: 16px;
	color: #666666;
	line-height: 70px;
	margin-left: 20px;
}

.user-article {
	width: 879px;
	margin: 0 auto;
}
.user-text{
	font-size: 14px;
	color: #999;
	line-height: 20px;
	margin-left: 20px;
	margin-top: 10px;
}
.calculator-btn{
	display: block;
}
.calculator-btn:hover{
	color: #fff;
}
.user-title>span{
	    font-size: 14px;
    color: #999999;
}
