/* * * * * * * * *

   * header begin  *

 * * * * * * * * */
*{

}
body{
	min-width: 1200px;
}
#header {
	background-color: #fff;
}

.header-top {
	background-color: #222;
	color: #ffffff;
	height: 40px;
	line-height: 40px;
}

.hot-line,
.header-top-l {
	float: left;
}

.header-top-r {
	color: #cccccc;
	position: absolute;
	right: 0;
}

.hot-line {
	margin-right: 10px;
}

.header-top-l> .lists {
	cursor: pointer;
	width: 40px;
	height: 40px;
	text-align: center;
}

.header-top-r> .lists {
	font-size: 12px;
}

.header-logoWrap {
	height: 84px;
	line-height: 84px;
}

.header-navWrap,
.header-account,
.header-nav {
	float: right;
}

.header-nav {
	font-size: 0;
}

.header-nav .lists {
	font-size: 0;
	vertical-align: middle;
	margin-left: -6px;
	position: relative;
	overflow: hidden;
	height:84px;
}
.lists-l {
    display: block;
}
#list>a{
	display: inline-block;
}
.header-nav .lists.header-account {
	margin-left: 30px;
}

.header-nav .lists:after {
	content: '';
	display: inline-block;
	width: 90%;
	height: 4px;
	background-color: #c82126;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: absolute;
	left: 5%;
	bottom: -4px;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.header-nav .lists.current:after,
.header-nav .lists:hover:after {
	bottom: 1px;
}

.header-nav .lists-l {
	padding: 0 26px 0 26px;
	color: #333333;
	font-size: 16px;
	position: relative;
	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-ms-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	transition: color .2s ease-out;
}
.header-top-r a{
	color:#f1f4f5;
}
.header-top-r a:hover{
	color:gray;
}
.lists:first-child .lists-dot:before {
	left: 0;
}
.hot-line {
	font-size: 12px;
}
.header-top-r .lists{
	padding: 0 25px;
	border-right:1px solid #666666 ;
	line-height: 100%;
	margin-top: 13px;
}
.list-last{
	border-right:0px!important;
}
.lists {
	display: inline-block;
	vertical-align: top;
}

.lists .blue_btn {
	margin-left: 40px;
}
img {
    border: none;
    vertical-align: middle;
}
/* * * * * * * * *

*  header end   *

 * * * * * * * * */


/* * * * * * * * *

   * footer begin  *

 * * * * * * * * */
#footer{
	width: 100%;
}
.footer-content{
	width: 100%;
	background: #fff;
}
.footer-frame{
	padding-top: 35px;
}
.footer-frame>.footer-banner{
	float: left;
}
.footer-banner1{
	width: 315px;
	margin-right: 135px;
	margin-left: 17px;
}
.footer-banner2{
	width: 355px;
	margin-right: 86px;
}
.footer-banner3{
	width: 292px;
	float: right!important;
}
.footer-banner1-text{
	font-size: 14px;
	color:#666666 ;
	line-height: 30px;
}
.resume-btn{
	width: 179px;
	height: 31px;
	background: url(../images/newCopyRight/resume-btn.jpg) no-repeat center center;
	background-size:contain ;
	margin-top: 20px;
	display: block;
}
.footer-banner2>ul{
	float: left;
	margin-right: 75px;
}
.footer-banner2>ul>li>a{
	font-size: 14px;
	color: #999999;
	line-height: 30px;
}
.footer-banner2>ul>li>a:hover{
	color: #666;
}
.footer-title{
	font-size: 16px!important;
	color: #222222!important;
	margin-bottom: 10px;
}
a:hover{
	color: #666;
}
.footer-banner3>li{
	float: left;
	margin-right: 30px;
}
.ewm{
	width: 102px;
	margin: 0 auto;
}
.ewm>img{
	width: 100%;
}
.ewm-detail{
	font-size: 14.96px;
	color: #999999;
	margin-top: 10px;
	white-space: nowrap;
}
.footerlogo li{
	float: left;
	margin-right: 60px;
	margin-top: 39px;
}
.footerlogo{
	padding:0px 16px;
	padding-bottom: 25px;
}
.footer-text {
    width: auto;
    display: table;
    margin: 0 auto;
}

.footer-text a {
    color: #bdbdbd;
}

.footer-cent {
    width: auto;
}

.footer-cent a {
    color: #848484!important;
}
#footer{
	background: #232323;
}
.footer-copyright{
	font-size: 12px;
	line-height: 62px;
}
.cent2{
	float: right;
}
/* * * * * * * * *

   * footer end  *

 * * * * * * * * */
.clear-fix:before,
.clear-fix:after {
	content: "";
	display: table;
	width: 0;
	height: 0;
}

.clear-fix:after {
	clear: both;
}

.layout {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

/* Generated by less 2.5.1 */

p,
h1,
h2,
h3,
h4,
h5,
ul,
ol {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ul {
	list-style: none;
}

a {
	color: #fff;
	text-decoration: none;
}

i {
	font-style: normal;
}

* {
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #999;
	font-family: "microsoft yahei";
}
input,select{
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #999;
	font-family: "microsoft yahei";
}
input[type=submit],input[type=text],input[type=password]{
	outline:none;
	border:none;
}

input[type=submit]{
	cursor: pointer;
}

.li-last{
	margin-right: 0!important;
}
.fix {
	*zoom: 1;
}

.fix:before,
.fix:after {
	content: " ";
	display: table;
}

.fix:after {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.w1000 {
	width: 1000px;
	margin: 0 auto;
}
.w1200 {
	width: 1200px;
	margin: 0 auto;
}

/* * * * * * * * *

*  common end   *

 * * * * * * * * */
/* * * * * * * * *

*  通信弹窗 start   *

 * * * * * * * * */
.followus {
	float: left;
	padding-top: 3px;
}

.followus li {
	float: left;
}

.followus li a.icon-sns {
	display: block;
	width: 20px;
	height: 20px;
	margin: 7px 6px;
	padding: 0;
	background: url(../images/logo-sprite.png) no-repeat;
	transform: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transform: all .2s ease-in-out;
}



.followus li a.qq {
	background-position: 2px 2px;
	position: relative;
	z-index: 99999;
}

.followus li a.qq:hover {
	background-position: 2px -17px;
}

.followus li a.weibo {
	background-position: right 2px;
}

.followus li a.weibo:hover {
	background-position: right  -17px;
}

.followus li a.weixin {
	background-position: -25px 2px;
    position: relative;
    z-index: 199999;
}

.followus li a.weixin:hover {
	background-position: -25px -17px;
}

.social-content {
	position: absolute;
	z-index: 999;
	top: 35px;
	left: -65px;
	width: 150px;
	color: #E44142;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	display: none;
	padding: 5px;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
}
.wenxin-ewm>img{
	width: 100%;
}
.social-content>p>img{
	width: 93px;
}
.footer-ewm{
	position: static;
	display: block;
	width: 100%;
    min-height: 298px;
    background: #FFFFFF;
    z-index: 999;
}
.wenxin-ewm {
    width: 240px;
    margin: 0 auto;
    margin-top: 12px;
}
/* * * * * * * * *

*  通信弹窗 end   *

 * * * * * * * * */
.lists>a{
	position: relative;
}

.app-banner{
	display: none;
	position: absolute;
	top: 29px;
	left: -50px;
	width: 150px;
	height: 150px;
	border: 1px solid #D3DBDE;
	padding-top: 10px;
	z-index: 11;
	background: #fff;
}
.banner-img{
	width: 80%;
	margin: 0 auto;
}
.banner-img>img{
	width: 100%;
}
.banner-detail{
	width: 100%;
	font-size: 12px;
	color: #666;
	text-align: center;	
}
.list3:hover .app-banner{
	display: block;
}
div:after,
ul:after,
li:after {
	content: '';
	display: table;
	clear: both;
}

.gft-fixed{
	position: fixed;
	bottom: 120px;
	left: 50%;
	margin-left: 655px;
	z-index: 12;
}
.gft-fixed>li>a{
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 5px;
	background-color: #fff;
	background-image:url(../images/newCopyRight/gft-fixed.png) ;
	background-repeat:no-repeat ;
	border: 1px solid #f1f4f5;	
}
.gft-fixed>li{
	margin-bottom: 2px;
}
.gft-fixed1{
	background-position:-47% -10% ;
}
.gft-fixed2{
	background-position:-47% 31.33% ;
}
.gft-fixed3{
	background-position:-47% 74.66% ;
}
.gft-fixed4{
	background-position:-47% 116% ;
}
.gft-fixed>li:hover a{
	background-color: #e95248;
	background-position-x: 147%;
}
.circle-text1{
	color: #999999!important;
}
.gft-fixed2{
	position: relative;
}
.fix-ewm{
	display: none;
	position: absolute;
	right:57px;
	bottom: 0;
	width: 120px;
	height:140px;
	background: #fff;
	padding-top: 10px;
	border: 1px solid #f1f4f5;	
	z-index: 11;
}
.gft-fixed2:hover .fix-ewm{
	display: block;
}
@media screen and (max-width: 1186px) {
	.gft-fixed {
		display: none;
	}
}
.app-ewm1{
	width: 96px;
	margin: 0 auto;
}
.app-ewm1>img{
	width: 100%;
}
.app-detail{
	font-size: 14px;
	color:#666;
	width: 100%;
	text-align: center;
	line-height: 33px;
}
.cunguan-img{
	width: 81px;
	display: inline-block;
	vertical-align: 1px;
}

.cunguan-img>img{
	width: 100%;
}
